<!-- Header -->
<section id="header">
	<!--div class="clearfix border-bottom-thick header-border">
		<ul class="list-reset right py-1 header-text font-smoothing">
			{% for my_page in site.pages %}
				{% if my_page.title %}
				<li style="display:inline-block;">
					<a class="align-middle link-primary header-link mr-2" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
				</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div-->

		<header>
			<div id="image">
				<img id="profpic" src="assets/images/pic01.jpg" alt="" />
			</div>
			<div class="major">
				<h1>Hey!</h1>
				<h4>I'm Jenny. Thanks for checking out my website.</h4>
				<p style="">I'm an avid reader and tech enthusiast At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."</p>
		<&nbsp;>
		<p>Connect with me.</p>
	<p><i class="fa fa-linkedin-square" style="font-size: 2em;" aria-hidden="true"></i>&nbsp;<a href="linkedin.com/jennytkim">Linkedin</a></p>
	<p><i class="fa fa-envelope" style="font-size: 1.75em;" aria-hidden="true"></i>&nbsp;<a href="jennytkim@gmail.com">Email</a></p>
		</div>

	</header>

</section>
