<!-- Header -->
<section id="header">
	<!--div class="clearfix border-bottom-thick header-border">
		<ul class="list-reset right py-1 header-text font-smoothing">
			{% for my_page in site.pages %}
				{% if my_page.title %}
				<li style="display:inline-block;">
					<a class="align-middle link-primary header-link mr-2" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
				</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div-->

		<header>
			<div id="image">
				<img id="profpic" class="profpic2" src="assets/images/pic01.jpg" alt="" />
			</div>
			<div class="major">
				<h1>Hey!</h1>
				<h3>I'm Jenny. Thanks for dropping by.</h3>
				<p>I'm an avid reader, tech enthusiast, and music junkie.</p>
				<p id="bio" style="text-align: justify;">I mostly read non-fiction but I dabble in a wide variety of topics from self-improvement to philosophy.
					I'm a huge fan of Tim Ferriss and a book that's changed my life is "Awaken the Giant Within" by Tony Robbins.
					I love learning about A.I. and machine learning. During my stint at IBM, I was able to work with Watson APIs on IBM's Bluemix Developer platform.
					While I was co-founding a startup, I learned design and front-end which have stuck with me. I also picked up some back-end (mainly python) somewhere along the way.
					I'm really into jamming out on the guitar/piano and listening to hiphop, rnb, and jazz. In my spare time, I'm a 4th year commerce student at Queen's University.</p>
		<p>Connect with me.</p>
	<p style="float: left;"><i class="fa fa-linkedin-square" style="font-size: 1.5em;" aria-hidden="true"></i>&nbsp;<a href="linkedin.com/jennytkim">Linkedin</a></p>
	<p style="float: left;"><i class="fa fa-envelope" style="font-size: 1.25em;" aria-hidden="true"></i>&nbsp;<a href="mailto:jennytkim@gmail.com">Email</a></p>
		</div>

	</header>

</section>
